<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.many2many.XsDao">
    <resultMap id="XsMap" type="com.qfedu.many2many.Xs">
        <id column="xid" property="xid"></id>
        <result column="xname" property="xname"></result>
        <collection property="lsList" javaType="list" ofType="com.qfedu.many2many.Ls">
            <id column="lid" property="lid"></id>
            <result column="lname" property="lname"></result>
        </collection>
    </resultMap>
    <resultMap id="XsMap2" type="com.qfedu.many2many.Xs">
        <id column="xid" property="xid"></id>
        <result column="xname" property="xname"></result>
        <collection property="lsList" javaType="list" ofType="com.qfedu.many2many.Ls" column="xid"
                    select="com.qfedu.many2many.LsDao.findById"></collection>
    </resultMap>
<select id="findByXid" parameterType="int" resultMap="XsMap">
        select x.* ,l.* from xs x
        inner join gll g
        on g.xid=x.xid
        inner join ls l
        on l.lid=g.lid
        where x.xid=#{xid};
</select>
    <select id="findByXid2" parameterType="int" resultMap="XsMap2">
        select *from xs where xs.xid=#{xid}
    </select>
</mapper>